<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="logo">
          <a href="/">
            <span>T</span>
            <span>E</span>
            <span>R</span>
            <span>O</span>
          </a>
        </h1>
      </div>

      <!-- <div class="col-md-4">
          <div class="search ful-flex">
            <i class="fa fa-search" style="font-size: 1.4rem; margin: 0px 3px"></i>
            <form action="#" method="post">
              <input type="text" name="searchvalue" id="SearchInput" placeholder="type to search" />
            </form>
            <i class="fa fa-arrow-right" style="font-size: 1.4rem; margin: 0px 3px; cursor: pointer"
              id="searchGoto;"></i>
          </div>
        </div> -->

      <div class="col-md-8">
        <ul class="float-md-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/#gallery">GALLERY</a></li>
          <li><a href="/contact">CONTACT</a></li>
          <li><a href="/account">ACCOUNT</a></li>
          <li>
            <a href="/searchPage"><i class="fa fa-search"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>