<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us  ||- tera.com</title>
    <link rel="stylesheet" href="scss/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="scss/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="scss/css/fontawesome/all.css" />
    <link rel="stylesheet" href="scss/css/style.css" />
</head>

<body>
    <!-- *************************************** start wesbite ***************************************** -->
    <!-- *************************************** start header ***************************************** -->
    {{>header}}
    <!-- *************************************** end header ***************************************** -->
    <h1>comming soon ! ..</h1>
    <!-- ************************************  7 ) start  footer section *************************************** -->
    {{>footer}}
    <!-- ************************************end  footer section *************************************** -->
    <!-- **********************************   end of Work  ********************************************* -->
    <script src="scss/js/bootstrap/bootstrap.js"></script>
    <script src="scss/js/bootstrap/bootstrap.min.js"></script>
    <script src="scss/js/typed/typedjs.js"></script>
    <script src="scss/js/fontawsome/all.js"></script>
    <script src="scss/js/script.js"></script>
    <script>

    </script>
</body>

</html>